<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link th:href="@{/css/comp_style.css}" rel="stylesheet">
</head>
<body>
<section id="container">
    <nav>
        <div class="home" onclick="window.open('/computer_shopping','_self')">
            <img th:src="@{/img/homepage.png}" alt="homepage" />
            <p>Главная страница</p>
        </div>
        <button onclick="window.open('/shop_user/new_computer','_self')">Новый комп</button>
        <span>
          Show entities
          <select name="" id="">
            <option value="">5</option>
            <option value="">10</option>
            <option value="">15</option>
          </select>

        </span>

        <input
                type="text"
                id="search"
                onkeyup=""
                placeholder="Search for names..."
                title="Type in a name"
        />
    </nav>

    <table>
        <tr>
            <th>Код</th>
            <th>Марка</th>
            <th>Модель</th>
            <th>Картинка</th>
            <th>Цена</th>
            <th>Операции</th>
        </tr>
        <tr th:if="${#lists.isEmpty(computerList)}">
            <td colspan="6">Пустая таблица</td>
        </tr>
        <tr th:if="${#lists.isEmpty(computerList)==false}" th:each="computer : ${computerList}">
            <td th:text="${computer.id}">id</td>
            <td th:text="${computer.brand}">brand</td>
            <td th:text="${computer.model}">model</td>
            <td>
                <img th:src="@{/user_images/king---{photo}(photo=${computer.photo_name})}">
            </td>
            <td th:text="${computer.cost}">cost</td>
            <td>
                <button th:onclick="| window.open('/shop_user/update/${computer.id}','_self') |">Редактировать</button>
                <button th:onclick="| deleteComp(`/computer/${computer.id}`) |">Удалить</button>
            </td>
        </tr>
    </table>
</section>

<script>
    function deleteComp(URL){
    console.log(URL);
        const req = new XMLHttpRequest();
        req.open("GET",URL);
        req.send();
    }
<!--    /*<![CDATA[*/-->

<!--       function getList(){-->
<!--            const req = new XMLHttpRequest();-->

<!--            req.onload = function(){-->
<!--                /*[[${computerList}]]*/ = this.responseText;-->
<!--            }-->

<!--            req.open("GET",URL);-->
<!--            req.send();-->
<!--       }-->

<!--    /*]]>*/-->
</script>
</body>
</html>
