<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Компьютерный Магазин Скалетто</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <link href="https://getbootstrap.com/docs/4.0/examples/signin/signin.css" rel="stylesheet" crossorigin="anonymous"/>
    <link th:rel="stylesheet" th:href="@{/css/style.css}" />
</head>
<body>
<section id="box-one">
        <span>
          <h2>Добро пожаловать в компьютерный магазин Скалетто</h2>
          <h3 sec:authorize="isAuthenticated()">Пользователь:
            <small sec:authentication="name"></small>
          </h3>
          <hr />
        </span>

        <div onclick="window.open('/computer_shopping','_self')">
            <img th:src="@{/img/homepage.png}" alt="homepage" />
            <p>Главная страница</p>
        </div>

        <div onclick="window.open('/shop_user/computer_page','_self')" sec:authorize="isAuthenticated()">
            <img th:src="@{/img/computer.png}" alt="homepage" />
            <p>Компьютеры</p>
        </div>

        <div onclick="window.open('','')" >
            <img th:src="@{/img/shopping.png}" alt="shopping" />
            <p>Покупка и продажа компьютеров</p>
        </div>

        <div onclick="window.open('/login','_self')" sec:authorize="isAuthenticated()==false">
            <img th:src="@{/img/login.png}" alt="login" />
            <p>Вход</p>
        </div>

        <div onclick="window.open('/logout','_self')" sec:authorize="isAuthenticated()">
            <img th:src="@{/img/logout.png}" alt="logout" />
            <p>Выход</p>
        </div>

        <div onclick="window.open('/computer_shopping/registration','_self')" sec:authorize="isAuthenticated()==false">
            <img th:src="@{/img/registration.png}" alt="registration" />
            <p>Новый пользователь</p>
        </div>

</section>
</body>
</html>
